// 미디어쿼리 화면
// $deskTop : 1020px;
<<<<<<< HEAD
$mobile: 480px;
$tablet: 768px;
=======
$mobile: 420px;
$tablet : 768px;
>>>>>>> jang

@mixin tablet {
	@media (max-width : #{$tablet}) {
		// 최대크기 768px
		@content;
	}
}

@mixin mobile {
	@media (max-width : #{$mobile}) {
		// 최소크기 없음 최대크기 360px
		@content;
	}
}
