:root {
	/* Color */
	--color-white: #ffffff;
	--color-text: #777;
	--color-orange: #ff924d;
	--color-green: #78c030;
	--color-grey: #989797;

	/* Font Size */
	--font-large: 48px;
	--font-medium: 36px;
	--font-regular: 24px;
	--font-small: 16px;
	--font-micro: 12px;
}

body {
	font-size: var(--font-small);
}
button {
	width: 330px;
	height: 40px;
	cursor: pointer;
	padding: 0.2rem 0.8rem;
	border-radius: 10px;
	color: var(--color-orange);
}

/* Header */
#header {
}

.start__title {
	text-indent: -9999px;
}
.start__title a {
	display: block;
	margin: 24px auto;
	background: url(../img/logo.png) no-repeat;
	width: 258px;
	height: 156px;
}

/* Story */
#story {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartoon {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartoon > div {
	height: 394px;
	box-sizing: border-box;
}
.cartoon-first {
}
.cartoon-second {
	display: none;
}
.cartoon-final {
	display: none;
	text-align: center;
}
.cartoon-final p {
	font-size: var(--font-regular);
}
.cartoon-final span {
	color: var(--color-orange);
	margin-top: 12px;
}
.cartoon__img-final {
	width: 215px;
	height: 215px;
	margin: 0 auto;
	margin-top: 12px;
	border-radius: 100%;
	background: var(--color-grey);
}

.cartoon__img {
	display: block;
	width: 330px;
	height: 185px;
	margin-bottom: 12px;
	background-color: var(--color-grey);
}
.cartoon__button {
	margin-top: 24px;
}

/* Quest-question */
#quest {
	display: none;
}

/* result loading */
#loading{
    width: 250px; height: 250px;
    position: relative;
    margin: 100px auto;
    border: 1px solid orange;
    border-radius: 100%;
    background-color: orange;
}
#loading>h1{
    width: 95px; height: 20px;
    margin: 105px auto;
    color: white;
    font-size: 16px;
}
#loading>img{
    width: 225px; height: 225px;
    position: absolute;
    top: 15px; left: 14px;
    animation: spin 5s linear infinite;
}
@keyframes spin {
    from { 	transform: rotate(0deg) translateX(0px); }
    to   {  transform: rotate(360deg) translateX(0px); }
} 


/* Result */
#result {
	display: none;
}

/* FoodType */
#foodtype {
	width: 360px;
	height: 640px;
	margin: 10px auto;
	background: #fff;
	position: relative;
	border: 3px solid #fd8e49;
}
#logo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
p {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fd8e49;
	margin: 0 auto;
	padding-top: 20px;
}
#foodtype > img {
	display: block;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#imgs {
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#imgs img {
	display: block;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	object-fit: scale-down;
}
#btn {
	width: 100px;
	height: 50px;
	border: 3px solid #fd8e49;
	text-align: center;
	background: #fff;
	color: #fd8e49;
	font-weight: bold;
	position: absolute;
	bottom: 120px;
	left: 130px;
}

/* 카카오톡 API */
#kakaotalk-sharing-btn {
	position: absolute;
	bottom: 50px;
	left: 100px;
}
#kakaotalk-sharing-btn img {
	display: block;
	width: 40px;
	height: 40px;
}
.fb-share-button {
	position: absolute;
	bottom: -90px;
	left: 200px;
}
.fb-share-button img {
	display: block;
	width: 40px;
	height: 40px;
}
#clip-btn {
	position: absolute;
	bottom: 50px;
	left: 150px;
}
#clip-btn img {
	display: block;
	width: 38px;
	height: 38px;
}
