:root {
	/* Color */
	--color-white: #ffffff;
	--color-text: #777;
	--color-orange: #ff924d;
	--color-green: #78c030;
	--color-grey: #989797;

	/* Font Size */
	--font-large: 48px;
	--font-medium: 36px;
	--font-regular: 24px;
	--font-small: 16px;
	--font-micro: 12px;
}
@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-orange);
	font-size: var(--font-small);
	background: url('../img/bg.png') center/cover no-repeat;
}
button {
	width: 330px;
	height: 40px;
	cursor: pointer;
	padding: 0.2rem 0.8rem;
	border-radius: 10px;
	color: var(--color-orange);
}

/* 레이아웃 */

.container {
	width: 640px;
	height: 70vh;
	margin: 0 auto;
}

/* Input */
input[type='radio'],
input[type='checkbox'] {
	display: none;
}
input[type='radio'] + label,
input[type='checkbox'] + label {
	content: '';
	cursor: pointer;
	display: inline-block;
	width: 75px;
	height: 75px;
	line-height: 75px;
	margin-right: 20px;
	text-align: center;
	font-size: var(--font-small);
	color: var(--color-orange);
	border-radius: 100%;
	border: 1px solid var(--color-orange);
	transition: all 0.3s;
	/* vertical-align: middle; */
}
input[type='radio'] + label:nth-last-of-type(1),
input[type='checkbox'] + label:nth-last-of-type(1) {
	margin-right: 0;
}
input[type='radio']:checked + label,
input[type='checkbox']:checked + label {
	background-color: var(--color-orange);
	color: var(--color-white);
}

/* Header */
#header {
	width: 640px;
	margin: 0 auto;
}

/* Story */
#story {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartoon {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartoon > div {
	/* height: 394px; */
	box-sizing: border-box;
}
.cartoon-second,
.cartoon-third {
	display: none;
}
.cartoon-final {
	display: none;
	text-align: center;
}
.cartoon-final p {
	font-size: var(--font-small);
}
.cartoon-final span {
	color: var(--color-orange);
	margin-top: 12px;
	font-weight: bold;
}
.cartoon__img-final {
	display: block;
	width: 215px;
	height: auto;
	margin: 0 auto;
	margin-top: 48px;
	border-radius: 100%;
}

.cartoon__img {
	display: block;
	width: 350px;
	height: 200px;
	margin-bottom: 8px;
	background-color: var(--color-grey);
}
.cartoon__button {
	margin-top: 24px;
}

/* Start */
#start {
	display: none;
}
.start__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.start__question {
	flex-basis: 20%;
}
.start__answers {
	flex-basis: 50%;
}
input.start__answers__input + label {
	background: url('../img/Staff.png') center/contain no-repeat;
	line-height: 200px;
	background-color: var(--color-grey);
	border-color: var(--color-grey);
}
input.start__answers__input:nth-of-type(2) + label {
	background: url('../img/AssistantManager.png') top/cover no-repeat;
	background-color: var(--color-grey);
}
input.start__answers__input:nth-of-type(3) + label {
	background: url('../img/Manager.png') top/cover no-repeat;
	background-color: var(--color-grey);
}
input.start__answers__input:nth-of-type(4) + label {
	background: url('../img/Director.png') top/cover no-repeat;
	background-color: var(--color-grey);
}
input.start__answers__input:nth-of-type(5) + label {
	background: url('../img/President.png') top/cover no-repeat;
	background-color: var(--color-grey);
}
input[type='radio'].start__answers__input:checked + label {
	background-color: var(--color-orange);
	color: var(--color-orange);
	border-color: var(--color-orange);
}
.start__title {
	text-indent: -9999px;
}
.start__title a {
	display: block;
	margin: 24px auto;
	background: url(../img/logo.png) center/cover no-repeat;
	width: 194px;
	height: 116px;
}
.start__selected__img {
	width: 160px;
	margin-bottom: 46px;
}

/* Quest-question */
#quest {
	display: none;
}
.questions {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.question__container {
	flex-basis: 20%;
	text-align: center;
}
.question__sequence {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin-bottom: 40px;
}
.sequence__bar {
	position: relative;
	width: 200px;
	height: 10px;
	background-color: var(--color-grey);
	border-radius: 5px;
	margin-left: 12px;
}
.sequence__counter__number {
	color: var(--color-green);
}
.sequence__subBar {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 40px;
	height: 10px;
	background-color: var(--color-green);
	border-radius: 5px;
}
.sequence__bar__img {
	position: absolute;
	z-index: 10;
	top: -12px;
	left: 0px;
	width: 24px;
	height: auto;
}
.answer__container {
	flex-basis: 50%;
}
.answers__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.newQuestion {
	font-weight: bold;
}
.answer__button {
}

/* result loading */
#loading {
	position: relative;
	margin: 0 auto;
	display: none;
}
.loading__title {
	text-align: center;
	color: var(--color-orange);
	font-size: 16px;
}
.loading__image__container {
	position: relative;
	width: 225px;
	height: 225px;
	padding: 25px;
	margin: 0 auto;
	/* border: 1px solid var(--color-orange); */
	border-radius: 100%;
	background-color: var(--color-orange);
}
.loading__image {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 225px;
	height: 225px;
	position: absolute;
	/* top: 15px; */
	/* left: 14px; */
	animation: spin 5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg) translateX(0px);
	}
	to {
		transform: rotate(360deg) translateX(0px);
	}
}

/* Result */
#result {
	display: none;
}

/* result_wrap */
#result_wrap {
	width: 300px;
	height: 360px;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	background: #fff;
	position: relative;
}
#result_txt {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fd8e49;
	margin: 0 auto;
}
#country_food {
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#country_food > img {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	display: block;
	object-fit: cover;
}
#btn_re {
	width: 190px;
	height: 40px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: #fd8e49;
	color: #fff;
	font-weight: bold;
	position: absolute;
	bottom: 80px;
	left: 60px;
}

/* 카카오톡 API */
#kakaotalk-sharing-btn {
	position: absolute;
	bottom: 50px;
	left: 100px;
}
#kakaotalk-sharing-btn img {
	display: block;
	width: 40px;
	height: 40px;
}
.fb-share-button {
	position: absolute;
	bottom: -90px;
	left: 200px;
}
.fb-share-button img {
	display: block;
	width: 40px;
	height: 40px;
}
#clip-btn {
	position: absolute;
	bottom: 50px;
	left: 150px;
}
#clip-btn img {
	display: block;
	width: 38px;
	height: 38px;
}

/* footer */
#footer {
	width: 640px;
	margin: 0 auto;
	position: relative;
	bottom: -20px;
	text-align: center;
	color: var(--color-orange);
	font-size: var(--font-micro);
}
